.sidebar-left {
    height: 100%;
}

.contain-sidebar {
    height: 100%;
    /* background-color: #032129; */
}

.link {
    @apply p-2.5 flex rounded-md gap-6 items-center cursor-pointer duration-300 font-medium text-[#515151];
}

/* Applied directly active class - route match */
.active {
    @apply bg-blue-100 text-blue-600;
    background-color: #dbeafe !important;
}